# Node modules
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Environment
.env
.env*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
*.pem

# Large video files
*.mp4
*.m4v
*.mov
